a{
  color: black;
  font-size: 11pt;
}

body, li, h4, h5 {
  font-family: 'Lato', sans-serif;
}

h1, h2 {
  font-family: 'Vidaloka', serif;
  font-size: 30px;
  color: black;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #F567B2;
}

li {
  font-family: 'Lato', sans-serif;
  color: lightgrey;
}

li:hover {
  color: white;
}

td {
width: 10%;
}

th {
color: grey;
font-weight: bold;
font-size: 12pt;
}

a.all {
color: lightgrey;
}

a.all:hover {
color: white;
}

.alert, .alert-success, .alert-info {
  border-color: #FDDFF2;
  border-width: thick;
  color: #F567B2;
  background-color: #FDDFF2;
}

.black{
color: black;
}

.border {
border-top: solid;
border-color: black;
margin-top: 10px;
text-align: center;
}

.border :hover {
text-decoration: none;
color: #04DADA;
}

.bottom {
color: #F567B2;
font-size: 8pt;
}

.color1 {
  background-color: #F40643;
}
.color2 {
  background-color: #F567B2;
}

.color3 {
  background-color: #FDDFF2;
}

.color4 {
  background-color: #04DADA;
}

.color5{
  background-color: #CCFAFA;
  color: black;
}

.color6 {
  background-color: #FFFFFF;
  border:solid;
  border-color: black ;
  border-width: thin;
  color: black;
}
.color7 {
  background-color: black;
}
.color8 {
  background-color: grey;
}
.color9 {
  background-color: lightgrey;
}
.color1 , .color2 , .color3, .color4, .color5, .color6, .color7, .color8, .color9 {
  padding: 50px 30px 30px 30px;
  margin: 15px 15px 15px 15px;
  border-radius: 5px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}
.color1 , .color2 , .color3, .color4, .color7, .color8, .color9 {
color: white;
}
.container {
  padding-top: 20px;
  width: 100%;
  overflow: scroll;
}

.content {
margin-left: 10%;
margin-right: -33%;
}

.delete{
border-color: #F40643;
border-width: medium;
background-color: white;
color: #F40643;
margin: 0px 0px 10px 0px;
font-family: 'Lato', sans-serif;
}

.delete:hover,  .delete:active, .delete:focus{
border-color: #F40643;
border-width: medium;
background-color: #F40643;
color: white;
}

.float {
padding-left: 20%;
width: 80%;
}

.it {
color:#04DADA;
}

.Lato {
  font-family: 'Lato', sans-serif;
}

.large {
  font-family: 'Vidaloka', serif;
  color: white;
  background-color: black;
  border-color: black;
  border-width: medium;
}

.large:hover {
  font-family: 'Vidaloka', serif;
  color: black;
  background-color: white;
  border-color: black;
  border-width: medium;
}

.left {
  margin-left: -33%;
  padding: none;
  width: 100%;
}

@media screen and (min-width : 991px) {
.btn-delete {
  margin-top:32px;

}
}

.navbar {
color: white;
background-color: black;
border-radius: none;
}

.navbar-brand {
  font-family: 'Vidaloka', serif;
  font-size: 30pt;
  color: black;
}

.new {
border-color: #04DADA;
border-width: medium;
background-color: #04DADA;
color: white;
margin: 15px 0px 35px 0px;
}
.new:hover, .new:active, new:focus{
 border-color: #04DADA;
 border-width: medium;
 color: #04DADA;
 background-color: white;
}

.slash{
color:  #F40643;
font-style: italic;
}

.table-hover :hover{
  color: grey;
  text-decoration: none;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #CCFAFA;
    border-color: #04DADA;
    border-bottom-color: #04DADA;
    color: lightgrey;
}

.text-muted  {
  color: #04DADA;
}

textarea.form-control {
  resize: none;
  height: 150px;
}

.w {
color:  #F567B2;
}

.withit {
  font-style: italic;
  font-family: 'Vidaloka', serif;
  color: #04DADA;
}
